<div class="page-header">
  <h1>Account History <small>June 2016</small></h1>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">Credit</div>
      <div class="panel-body">
        $500.00
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-warning">
      <div class="panel-heading">Awaiting</div>
      <div class="panel-body">
        $6,300.00
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-danger">
      <div class="panel-heading">Debit</div>
      <div class="panel-body">
        $180.00
      </div>
    </div>
  </div>
</div>
